<%- partial('common/head') %>
<body>
  <div id="page-percent"><div></div></div>
  <%- partial('common/header', null, {cache: !config.relative_link}) %>
  <div class="main-body container-inner">
    <div class="main-body-inner">
      <section id="main">
        <div class="main-body-content">
          <%- body %>
        </div>
      </section>
      <%//- partial('common/sidebar') %>
    </div>
  </div>
  <%- partial('common/footer', null, {cache: !config.relative_link}) %>
  <%- partial('common/fixed') %>
  <%- partial('common/scripts') %>
</body>
</html>
