<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <%- partial('post/title', { class_name: 'article-title' }) %>
    <header class="article-header" >
        <div class="article-author-avatar">
            <img src="<%=  url_for(theme.customize.avatar || '/images/avatar-default.png') %>" alt="Author's avatar">
        </div>
        <div class="article-subtitle">
            <div class="article-author">
                <%= config.author %>
            </div>
            <div class="article-meta">
                <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                <%- partial('post/wordcount') %>
            </div>
            <div class="article-dir">
                <%- partial('post/category') %>
                <%- partial('post/tag') %>
            </div>
        </div>
    </header>
    <div class="article-inner">
        <%- partial('post/gallery') %>
        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>

    </div>
</article>
<%- partial('comment/index') %>